#country-list {
  column-fill: balance;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#country-list>li>button>p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

#last-list-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

#penultimate-list-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}
